<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2> No se permitió la captura del elemento por <%= pluralize(@material.errors.count, "error") %> </h2>

      <ul>
       <%@material.errors.messages.values.each do |msg| %>
        <%msg.each do  |m| %>
          <li><%= m %></li>
        <%end %>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name %>
 </div> 
 <div class="field">
    <%= f.label :available, 'Disponibilidad' %><br>
    <%= f.text_field :available %>
  </div>
  <div class="field">
    <%= f.label :unit_id, 'Unidad' %><br>
    <%= f.collection_select :unit_id, Unit.all, :id, :name, prompt: true %>
  </div>
  <div class="actions">
    <%= f.submit 'Actualizar' %>
  </div>
<% end %>
