<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Disponible:</strong>
  <%= @material.available %>
  <%= @material.unit.name %>
</p>



<%= link_to 'Editar', edit_material_path(@material) %> |
<%= link_to 'Atrás', materials_path %>
