<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @supplier.phone %>
</p>

<%= link_to 'Editar', edit_supplier_path(@supplier) %> |
<%= link_to 'Atrás', suppliers_path %>
