<p id="notice"><%= notice %></p>

<p>
  <strong>Units:</strong>
  <%= @material_purchase.units %>
</p>

<p>
  <strong>Exp date:</strong>
  <%= @material_purchase.exp_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @material_purchase.amount %>
</p>

<%= link_to 'Edit', edit_material_purchase_path(@material_purchase) %> |
<%= link_to 'Back', material_purchases_path %>
