

<table>
  <thead>
    <tr>
      <th>Fecha de venta</th>
      <th> Cliente</th>
      <th> Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.saleDate %></td>
        <td><%= sale.client.name %></td>
        <td><%= 
          @total = Product.select("sales.id, sum(products.price) as total_price").joins(:product_sales, :sales).where("product_sales.sale_id = ?", sale.id).group("sales.id")
          puts @total.product_id
          
         %></td>
        <td><%= link_to 'Detalles', sale %></td>
        <td><%= link_to 'Editar', edit_sale_path(sale) %></td>
        <td><%= link_to 'Eliminar', sale, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva venta', new_sale_path %>
